<!DOCTYPE html> 
<html> 
<title>Get started</title> 

<head> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/FINALSIGNUP.css">
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 

</head> 
<body>  
    <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container-fluid">
            <a class="navbar-brand" href="/home" style="font-size:25px; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif;">MediCalm <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-alt-high-fill" viewBox="0 0 16 16">
              <path d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"/>
            </svg>
            </svg></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse "  id="navbarNav">
                <ul class="navbar-nav justify-content-center " style="padding-left: 260px;">
                    <li class="nav-item" >
                      <a class="nav-link" href="/positions" style="color:white; font-size: 18px; margin-right: 50px;">Offerings</a>
                    </li>
                    <li class="nav-item dropdown" >
                      <a style="color:white; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/register" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Register
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/orgregister">Business Register</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/register">User Register</a></li>
                      </ul>
                      </li>
                    <li class="nav-item" >
                      <a class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;" href="/faq">FAQ</a>
                    </li>
                    <li class="nav-item" >
                        <a href="/about" class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;">About Us</a>
                    </li>
                    <li class="nav-item" >
                      <a href="/checkin" class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;">Check In</a>
                  </li>
                  <li class="nav-item" >
                    <a href="/history" class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;">Weekly Log</a>
                </li>
                    
                      </ul>
                      
                      </div>
     
          
            
    
            <a class="icon" href = "/profilePage"><div class = "d-flex"><svg class = "icon" width="32" height="32" fill = "white" viewbox= "0 0 16 16"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg></div></a> 
            <!-- <div class="d-flex">    
            <div class="dropdown">
                <a style="color:white; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/Login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                   </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton" style="margin-right: 50px ;">
                    <li><a class="dropdown-item" href="/login">Student Login</a></li>
                    <li><a class="dropdown-item" href="/orgLogin">Organizations Login</a></li>
                </ul>
            </div> 
        </div> -->
    </div>
    </nav>

  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/checkin" method="POST">
        <h3>What Were Your Emotions This Week?</h3>
        <div class="social-container">
          
          <% for(let category of categories3) { %>
            <input type="checkbox" name= "<%= category %>" value = "<%= category %>" class = "btn-check" id= "<%= category %>"> </input>
            <label class="btn btn-outline-info" for= "<%=category%>"><%= category %></label>
   
        <% } %>
    
        </div>
        <div class="mb-3"><button>Post</button></div> 
    <!-- </form>-->
    </div>
    <div class="form-container sign-in-container">
     <!--<form action="/register">-->
        <div class="card-body">
        <div>
            <label for= "notes" class ="mb-2">Weekly Notes:</label>
            <textarea rows="13" cols="39" name="notes" placeholder="Weekly Notes (Include Activities, Special Events, etc.)"></textarea>
        </div>
        <div>
            <label for= "happy">Happiness Level (1-10):</label>
            <input type = "number" name = "happy" id = "happy"  placeholder = "Happiness Level (Number from 1-10)" required>
        </div>
        
    </div>
</div>
  </form>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h2>Back</h2>
          <p>Add weekly notes</p>
          <button class="ghost" id="signIn">Back</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h2>Next</h2>
          <p>Share your emotions this past week</p>
          <button class="ghost" id="signUp">Emotions</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/signuppractice.js"></script>
  </body> 
</main> 
</html>

