<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/css/orgRegister.css" rel="stylesheet">
   <script src="/js/jquery.js"></script> 
   <script src="/js/bootstrap.min.js"></script>
    <title>Edit Organization</title>
</head>
<body>
    
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/orgProfiles/?_method=PUT" method="POST">
                <h3>What Skills Are Required at Your Organization?</h3>
            <div class="social-container">
            
                <% for(let category of categories2) { %>
                    <input type="checkbox" name= "<%= category %>" value = "<%= category %>" class = "btn-check" id= "<%= category %>"> </input>
                    <label class="btn btn-outline-primary" for= "<%=category%>"><%= category %></label>
           
                <% } %>
               
            </div>
            <div class="mb-3"><button>Submit</button></div> 
        <!-- </form>-->
        </div>
        <div class="form-container sign-in-container">
         <!--<form action="/register">-->
            <div class="card-body">
            <div>
                <label for= "username">Enter Username:</label>
                <input type = "text" name = "username" id = "username"  value = "<%= foundUser.username %>" required>
            </div>
            <div>
                <label for= "password">Enter Password:</label>
                <!--**IMPORTANT**: FIGURE OUT HOW TO UNHASH THIS PASSWORD!!!!-->
                <input type = "password" name = "password" id = "password"  value = "<%= foundUser.password %>" required>
            </div>
            <label for= "name">Name:</label>
            <input type = "text" name = "orgName" id = "orgName" value = "<%= foundUser.orgName %>" required>
            <label for = "zipCode">Zip Code:</label> 
            <input type = "number" name = "zipCode" id = "zipCode" value = "<%= foundUser.zipCode %>" required> 
            <label for = "phoneNum">Phone number</label>
            <input type = "number" name = "phoneNum" id = "phoneNum" value = "<%= foundUser.phoneNum %>" required>
            <label for = "description">Description:</label>
            <input type = "text" name = "description" id = "description" value = "<%= foundUser.description %>" required>
        </div>
    </div>
      </form>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome!</h1>
              <p>Please enter your Organization's Information So We Can Help You Find the Perfect Applicant.</p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Edit Profile</h1>
              <p>Share your personal interests with us on the next page</p>
              <button class="ghost" id="signUp">Interests</button>
            </div>
          </div>
        </div>
      </div>
    
      <script src="/js/signuppractice.js"></script>
    </body>
</html> 