<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= foundPosition.positionName %> </title>
</head>

<body>
    <h1><%= foundPosition.positionName %> for <a href = "/profiles/<%= foundPosition.user_id %>"><%= foundPosition.orgName %></a> (<%= percent %>% match)</h1>
        <ul>
            <li>Organization: <%= foundPosition.orgName%></li>
            <li>Location: <%= foundPosition.positionLocation%></li>
            <li>Zip Code: <%= foundPosition.positionZipCode %></li>
            <li>Position is: <%= foundPosition.location %></li>
            <li>Position is about:</li>
            <ol>
                <% for(let interest of foundPosition.interests) { %>
                    <li> <%= interest %></li>
                <% } %>
            </ol>
        </ul>
    <a href = "/positions">See All Positions</a>
    <h2></h2>
</body>
</html> 

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/orgProfilePage.css"> 
    <script src="/js/jquery.js"></script> 
    <script src="/js/bootstrap.min.js"></script> 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="font-size:25px; color: #b1bfff; font-family: Verdana, Geneva, Tahoma, sans-serif;">VolunTier <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16" style="size: 30px;">
            <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
          </svg></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse "  id="navbarNav">
            <ul class="navbar-nav justify-content-center " style="padding-left: 260px;">
                <li class="nav-item" >
                  <a class="nav-link" href="/positions" style="color:white; font-size: 18px; margin-right: 50px;">Organizations</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;" href="#">FAQ</a>
                </li>
                <li class="nav-item" >
                    <a href="#" class="nav-link" style="color:white; font-size: 18px; margin-right: 50px;">About Us</a>
                </li>
                <li class="nav-item dropdown" >
                  <a style="color:white; font-size: 18px; margin-right: 50px;"class="nav-link dropdown-toggle" href="/register" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Register
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/orgregister">Organization Register</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/register">Student Register</a></li>
                  </ul>
                  </li>
                  </ul>
                  
                  </div>
 
      
        

    
        <div class="d-flex">    
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle"type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" >
                LOGIN
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton" style="margin-right: 50px ;">
                <li><a class="dropdown-item" href="/login">Student Login</a></li>
                <li><a class="dropdown-item" href="/orgLogin">Organizations Login</a></li>
            </ul>
        </div> 
    </div>
</div>
</nav>
                <h1 class = "mb-3"><%= foundPosition.positionName %> for <a href = "/profiles/<%= foundPosition.user_id %>"><%= foundPosition.orgName %></a> (<%= percent %>% match)</h1>
 
                <div class = "mb-3"> <button id = "bigbutton"><b>Organization Name:</b> <%= foundPosition.orgName%></button> </div>
                <div class = "mb-3"> <button id = "bigbutton"><b>Location:</b> <%= foundPosition.positionLocation%></button> </div>
                <div class = "mb-3"> <button id = "bigbutton"><b>Zip Code:</b> <%= foundPosition.positionZipCode%></button> </div>
                <div class = "mb-3"> <button id = "bigbutton"><b>Phone Number:</b> <%= foundPosition.phoneNum%></button> </div>
                <div class = "mb-3"> <button id = "bigbutton"><b>Description:</b> <%= foundPosition.description%></button> </div>
            
                <div class = "mb-1"> <button id = "bigbutton"><b>Interests:</b></button> </div>
            
                <p>                
                    <% for(let interest of foundPosition.interests) { %>
                        <button id = "interests"><%= interest%></button>
                    <% } %>
                </p>
              

        
</body>
</html> 

